@keyframes flicker {
0% {
    opacity: 0.27861;
}
5% {
    opacity: 0.34769;
}
10% {
    opacity: 0.23604;
}
15% {
    opacity: 0.90626;
}
20% {
    opacity: 0.18128;
}
25% {
    opacity: 0.83891;
}
30% {
    opacity: 0.65583;
}
35% {
    opacity: 0.67807;
}
40% {
    opacity: 0.26559;
}
45% {
    opacity: 0.84693;
}
50% {
    opacity: 0.96019;
}
55% {
    opacity: 0.08594;
}
60% {
    opacity: 0.20313;
}
65% {
    opacity: 0.71988;
}
70% {
    opacity: 0.53455;
}
75% {
    opacity: 0.37288;
}
80% {
    opacity: 0.71428;
}
85% {
    opacity: 0.70419;
}
90% {
    opacity: 0.7003;
}
95% {
    opacity: 0.36108;
}
100% {
    opacity: 0.24387;
}
}
@keyframes textShadow {
0% {
    text-shadow: none;
}
80% {
    text-shadow: none;
}
81% {
    text-shadow: 2.7928974010788217px 0 1px rgba(255, 255, 255, 0.2), -2.7928974010788217px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
82% {
    text-shadow: 0.02956275843481219px 0 1px rgba(255, 255, 255, 0.2), -0.02956275843481219px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
83% {
    text-shadow: 0.40218538552878136px 0 1px rgba(255, 255, 255, 0.2), -0.40218538552878136px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
84% {
    text-shadow: 3.4794037899852017px 0 1px rgba(255, 255, 255, 0.2), -3.4794037899852017px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
85% {
    text-shadow: 1.6125630401149584px 10px 1px rgba(255, 255, 255, 0.2), -1.6125630401149584px -10px 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
86% {
    text-shadow: 0.7015590085143956px -10px 1px rgba(255, 255, 255, 0.2), -0.7015590085143956px 10px 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
87% {
    text-shadow: 3.896914047650351px 0 1px rgba(255, 255, 255, 0.2), -3.896914047650351px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
88% {
    text-shadow: 3.870905614848819px 0 1px rgba(255, 255, 255, 0.2), -3.870905614848819px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
89% {
    text-shadow: 2.231056963361899px 0 1px rgba(255, 255, 255, 0.2), -2.231056963361899px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
90% {
    text-shadow: 0.08084290417898504px 0 1px rgba(255, 255, 255, 0.2), -0.08084290417898504px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
91% {
    text-shadow: 2.3758461067427543px 0 1px rgba(255, 255, 255, 0.2), -2.3758461067427543px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
92% {
    text-shadow: 2.202193051050636px 0 1px rgba(255, 255, 255, 0.2), -2.202193051050636px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
93% {
    text-shadow: 2.8638780614874975px 0 1px rgba(255, 255, 255, 0.2), -2.8638780614874975px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
94% {
    text-shadow: 0.48874025155497314px 0 1px rgba(255, 255, 255, 0.2), -0.48874025155497314px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
95% {
    text-shadow: 1.8948491305757957px -5px 1px rgba(255, 255, 255, 0.2), -1.8948491305757957px -5px 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
96% {
    text-shadow: 0.0833037308038857px 5px 1px rgba(255, 255, 255, 0.2), -0.0833037308038857px 5px 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
97% {
    text-shadow: 0.09769827255241735px 0 1px rgba(255, 255, 255, 0.2), -0.09769827255241735px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
98% {
    text-shadow: 3.443339761481782px 0 1px rgba(255, 255, 255, 0.2), -3.443339761481782px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
99% {
    text-shadow: 2.1841838852799786px 0 1px rgba(255, 255, 255, 0.2), -2.1841838852799786px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(255, 255, 255, 0.2), -2.6208764473832513px 0 1px rgba(255, 255, 255, 0.2), 0 0 3px;
}
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
.crt {
    animation: textShadow 5s infinite;
    animation-delay: 5s;
    font-family: 'Odibee Sans', cursive;
}

.bg-dark{
    background: radial-gradient(#1b3834, black) !important;
}

.border{
    border:solid 5px #badeff6b !important;
}

.bg-ds{
    background: #badeff30;
}

a{
    color: #eee;
}

p{
    color: #a1ffea;
}

.list-group-item{
    background: transparent;
    border: none;
}

a:hover{
    color:#f7ff89;
    text-decoration: none;
}

.btn:hover p, .btn:hover h2, .btn:hover h3, .btn:hover h4{
    color:#f7ff89;
}

h2{
    color: #eee;
}

h3{
    color: #eee;
}

h4{
    color: #eee;
}

h5{
    color: #a1ffea;
}

.btn-ds {
    color: #fff;
    background-color: #badeff30;
    border:solid 3px #badeff6b !important;
}

.ds-card-1 {
    background:#18ffe4ba;
    position: relative;
    clip-path: 
    polygon(
      0% 10px,     /* top left */
      10px 0%,     /* top left */
      calc(100% - 10px) 0%,    /* top right */
      100% 10px,   /* top right */
      100% calc(100% - 10px),  /* bottom right */
      calc(100% - 10px) 100%,  /* bottom right */
      10px 100%,   /* bottom left */
      0 calc(100% - 10px)      /* bottom left */
    );
}

.ds-card-1 .ds-card-body {
    background: #0b5a51a6;
    width: 100%;
    height:100%;
    clip-path: 
    polygon(
      0% 10px,     /* top left */
      10px 0%,     /* top left */
      calc(100% - 10px) 0%,    /* top right */
      100% 10px,   /* top right */
      100% calc(100% - 10px),  /* bottom right */
      calc(100% - 10px) 100%,  /* bottom right */
      10px 100%,   /* bottom left */
      0 calc(100% - 10px)      /* bottom left */
    );
}

.ds-card-2 {
    background:#18ffe4ba;
    position: relative;
    clip-path: 
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      calc(100% - 10px) 0%,    /* top right */
      100% 10px,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      10px 100%,   /* bottom left */
      0 calc(100% - 10px)      /* bottom left */
    );
}

.ds-card-2 .ds-card-body {
    background: #0b5a51a6;
    width: 100%;
    height:100%;
    clip-path: 
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      calc(100% - 10px) 0%,    /* top right */
      100% 10px,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      10px 100%,   /* bottom left */
      0 calc(100% - 10px)      /* bottom left */
    );
}

.p-canvas-webgl {
    width:100% !important;
    height:100% !important;
}

.fade-enter-active{
    animation: fadein .5s;
    opacity: 0;
}

.fade-leave-active {
    animation: fadein .5s reverse;
}

@keyframes fadein {
    0% {transform:scaleX(0) scaleY(0.5); opacity: 0; }
    10% {transform:scaleX(.01) scaleY(0.01); opacity: .1;}
    60% {transform:scaleX(1) scaleY(0.01); }
    100%   {transform:scaleX(1) scaleY(1); opacity: 1; }
}